---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=st.%2520paul&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":13.63,"lat":46.73},"sys":{"type":3,"id":5931,"message":0.0299,"country":"Austria","sunrise":1418280021,"sunset":1418311045},"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02n"}],"base":"cmc stations","main":{"temp":32.74,"pressure":1018,"temp_min":32,"temp_max":33.26,"humidity":94},"wind":{"speed":1.08,"deg":0},"snow":{"3h":0},"clouds":{"all":20},"dt":1418314834,"id":0,"name":"Ferndorf","cod":200}
  recorded_at: Thu, 11 Dec 2014 16:31:27 GMT
recorded_with: VCR 2.8.0
